h1 {
  position: relative;
  width: fit-content;
  margin: 25px 20px 15px 0px;
  font-size: 40px;
  font-weight: 600;
  color: var(--blue);
}
h1::before,
span {
  content: "";
  height: 6px;
  position: absolute;
  bottom: -15px;
  left: 0;
}
h1::before {
  background-color: var(--grey);
  width: 100%;
}
span {
  background-color: var(--blue);
  width: 10%;
}
