:root {
  --white: white;
  --lightgrey: #eaedf0;
  --lightblue: #f1f5f9;
  --blue: #4878bc;
  --blue2: #0d69d5;
  --blue3: #0075ff;
  --grey: #ddd;
  --grey2: #ccc;
  --header: #f3f4f5;
  --background: #f3f4f5;
  --blacklight: #41414185;
  --black: black;
  --black2: #1a1a1e;
  --blackbackground: #121315;
  --orange: #f6891f;
  --yellow: #ffc107;
  --green: #22c55e;
  --red: #f44336;
  --greydarkboxshadow: #888;
  --greydark: #888;
  --greydark2: #2e2e30;
  --greylight: #f6f6f6;
  --greylight2: #eee;
  --btnbg: #ddd;
  --btndisabled: #ccc;
  --whitetemp: white;
}
